In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from pandas.io.json import json_normalize
import warnings
warnings.filterwarnings("ignore")

In [ ]:
raw_tweets = pd.read_csv(r'/content/drive/MyDrive/tweets.csv')

print("Shape: ", raw_tweets.shape)
raw_tweets

Shape:  (19800, 4)

                                                 content  ...           location
0      How to pre-apply for Vedant Fashions IPO\n\n#V...  ...      Kerala, India
1      #ShamitaShetty  #ipo #Manyavar \n\nWatch video...  ...              India
2      Adani Wilmar IPO, worth investing? A thread .....  ...              India
3      Govt extends tenure of IPO-bound LIC's chairma...  ...   New Delhi, India
4      AGS transact technologies ipo |AGS transact te...  ...   New Delhi, India
...                                                  ...  ...                ...
19795  continued...\n📲SoftBank to dilute its partial ...  ...              India
19796  Paytm ipo plan...too early India, 3/4th market...  ...      Mumbai, India
19797  Paytm, India’s foremost digital payments compa...  ...  Chandigarh, India
19798  News - Paytm to raise $1.5 bn via primary issu...  ...   Bengaluru, India
19799  Paytm ipo is an exit opportunity and certainly...  ...    Madikeri, India

[19800 rows x 4 columns]

In [ ]:
raw_tweets_company=raw_tweets[raw_tweets['content'].str.contains("company")]
raw_tweets_company

                                                 content  ...           location
16     #PayTm #IPO #startupindia\nAn attempt on valui...  ...   Bangalore, India
35     Listing in #stock market via #IPO is the best ...  ...      Mumbai, India
46     Adani Wilmar 3rd largest FMGC company in India...  ...         Goa, India
50     Manyavar #IPO -\n\nThe company does a buyback ...  ...      Mumbai, India
61     The parent company of consumer device maker #B...  ...       Assam, India
...                                                  ...  ...                ...
19774  @Pepperfry would be in the unicorn club by the...  ...   Bengaluru, India
19785  As @Paytm gears up for one of the biggest IPOs...  ...       Delhi, India
19793  Online furniture company #Pepperfry will be in...  ...              India
19794  NOW JOIN OUR TELEGRAM CHANNEL FOR FREE.\n.\n.\...  ...   New Delhi, India
19797  Paytm, India’s foremost digital payments compa...  ...  Chandigarh, India

[1192 rows x 4 columns]

In [ ]:
# raw_tweets_company.to_csv(r'/content/drive/MyDrive/Twitter Project/ipotweets.csv', index=False)

FileNotFoundError: ignored

## Devyani

## OPEN : Aug 4, 2021
## CLOSE :Aug 6,2021
## Allotment Status : Aug 11, 2021
## Listing Date : Aug 16, 2021

In [ ]:
raw_tweets_Devyani=raw_tweets[raw_tweets['content'].str.contains("Devyani",case=False)|raw_tweets['hashtags'].str.contains("Devyani",case=False)]
raw_tweets_Devyani.reset_index()
# raw_tweets_Devyani=raw_tweets_Devyani.drop(['index'],axis=1)
# raw_tweets_Devyani

     index  ...          location
0     1120  ...     Mumbai, India
1     1189  ...    Kolkata, India
2     1195  ...     Mumbai, India
3     1403  ...     Meerut, India
4     1709  ...             India
..     ...  ...               ...
425  16253  ...  Rajasthan, India
426  16284  ...             India
427  18154  ...             India
428  19151  ...       Pune, India
429  19581  ...  Bengaluru, India

[430 rows x 5 columns]

In [ ]:
raw_tweets_Devyani_close = raw_tweets_Devyani[(raw_tweets_Devyani['date'] > '2021-07-01') & (raw_tweets_Devyani['date'] <= '2021-08-06')]
print(raw_tweets_Devyani_1.shape)
raw_tweets_Devyani_list = raw_tweets_Devyani[(raw_tweets_Devyani['date'] > '2021-07-01') & (raw_tweets_Devyani['date'] <= '2021-08-16')]
print(raw_tweets_Devyani_2.shape)

(257, 4)
(379, 4)

In [ ]:
# raw_tweets_Devyani['date_new']=pd.to_datetime(raw_tweets_Devyani['date'])

# raw_tweets_Devyani

TypeError: ignored

##  G R Infraprojects

## OPEN : Jul 7, 2021
## CLOSE :Jul 9, 2021
## Allotment Status : Jul 14, 2021
## Listing Date : Jul 19, 2021

In [ ]:
# raw_tweets_Infraprojects=raw_tweets[raw_tweets['content'].str.contains("G R Infraprojects")]
raw_tweets_Infraprojects=raw_tweets[raw_tweets['content'].str.contains("G R Infraprojects|GR Infraprojects|GRInfraprojects",case=False)|raw_tweets['hashtags'].str.contains("G R Infraprojects|GR Infraprojects|GRInfraprojects",case=False)]
raw_tweets_Infraprojects.reset_index()

     index  ...          location
0     2291  ...             India
1    16291  ...    Chennai, India
2    16314  ...     Mumbai, India
3    16318  ...    Kolkata, India
4    16351  ...     Mumbai, India
..     ...  ...               ...
167  18680  ...  Bengaluru, India
168  18751  ...             India
169  18756  ...             India
170  18765  ...  Rajasthan, India
171  18769  ...             India

[172 rows x 5 columns]

In [ ]:
raw_tweets_Infraprojects_close = raw_tweets_Infraprojects[(raw_tweets_Infraprojects['date'] > '2021-06-07') & (raw_tweets_Infraprojects['date'] <= '2021-07-07')]
print(raw_tweets_Infraprojects_close.shape)
raw_tweets_Infraprojects_list = raw_tweets_Infraprojects[(raw_tweets_Infraprojects['date'] > '2021-06-07') & (raw_tweets_Infraprojects['date'] <= '2021-07-19')]
print(raw_tweets_Infraprojects_list.shape)

(67, 4)
(160, 4)



```
# This is formatted as code
```

## Clean Science

## OPEN : Jul 7, 2021
## CLOSE :Jul 9, 2021
## Allotment Status : Jul 15, 2021
## Listing Date : Jul 19, 2021

In [ ]:
raw_tweets_Clean_Science=raw_tweets[raw_tweets['content'].str.contains("Clean Science|cleanscience",case=False)|raw_tweets['hashtags'].str.contains("Clean Science|cleanscience",case=False)]

raw_tweets_Clean_Science.reset_index()

     index  ...          location
0     1120  ...     Mumbai, India
1     2291  ...             India
2     3489  ...             India
3     4225  ...     Mumbai, India
4    11302  ...             India
..     ...  ...               ...
301  18751  ...             India
302  18754  ...  Rajasthan, India
303  18756  ...             India
304  18765  ...  Rajasthan, India
305  18769  ...             India

[306 rows x 5 columns]

In [ ]:
raw_tweets_Clean_Science_close = raw_tweets_Clean_Science[(raw_tweets_Clean_Science['date'] > '2021-06-07') & (raw_tweets_Clean_Science['date'] <= '2021-07-09')]
print(raw_tweets_Clean_Science_close.shape)
raw_tweets_Clean_Science_list = raw_tweets_Clean_Science[(raw_tweets_Clean_Science['date'] > '2021-06-07') & (raw_tweets_Clean_Science['date'] <= '2021-07-19')]
print(raw_tweets_Clean_Science_list.shape)

(163, 4)
(245, 4)

## Tatva Chintan

## OPEN : Jul 16, 2021
## CLOSE :Jul 20, 2021
## Allotment Status : Jul 27, 2021
## Listing Date : Jul 29, 2021

In [ ]:
raw_tweets_Tatva_Chintan=raw_tweets[raw_tweets['content'].str.contains("Tatva Chintan|tatvachintan",case=False)|raw_tweets['hashtags'].str.contains("Tatva Chintan|tatvachintan",case=False)]

raw_tweets_Tatva_Chintan.reset_index()

     index  ...       location
0     2291  ...          India
1     6474  ...  Nashik, India
2     8269  ...          India
3     8423  ...          India
4    10227  ...  Mumbai, India
..     ...  ...            ...
287  17556  ...  Rajkot, India
288  17557  ...          India
289  17576  ...          India
290  17610  ...          India
291  18544  ...          India

[292 rows x 5 columns]

In [ ]:
raw_tweets_Tatva_Chintan_close = raw_tweets_Tatva_Chintan[(raw_tweets_Tatva_Chintan['date'] > '2021-06-16') & (raw_tweets_Tatva_Chintan['date'] <= '2021-07-20')]
print(raw_tweets_Tatva_Chintan_close.shape)
raw_tweets_Tatva_Chintan_list = raw_tweets_Tatva_Chintan[(raw_tweets_Tatva_Chintan['date'] > '2021-06-16') & (raw_tweets_Tatva_Chintan['date'] <= '2021-07-29')]
print(raw_tweets_Tatva_Chintan_list.shape)

(136, 4)
(241, 4)

## Glenmark Life Sciences

## OPEN : Jul 27, 2021
## CLOSE :Jul 29, 2021
## Allotment Status : Aug 3, 2021
## Listing Date : Aug 6, 2021

In [ ]:
raw_tweets_Glenmark=raw_tweets[raw_tweets['content'].str.contains("Glenmark|glenmark life sciences",case=False)|raw_tweets['hashtags'].str.contains("Glenmark|glenmark life sciences",case=False)]

raw_tweets_Glenmark.reset_index()

     index  ...          location
0     1216  ...     Mumbai, India
1     2290  ...             India
2     3958  ...     Mumbai, India
3     6434  ...      Patna, India
4     8559  ...     Indore, India
..     ...  ...               ...
366  18544  ...             India
367  18798  ...             India
368  19574  ...             India
369  19577  ...  Bengaluru, India
370  19612  ...  New Delhi, India

[371 rows x 5 columns]

In [ ]:
raw_tweets_Glenmark_close = raw_tweets_Glenmark[(raw_tweets_Glenmark['date'] > '2021-06-17') & (raw_tweets_Glenmark['date'] <= '2021-07-29')]
print(raw_tweets_Glenmark_close.shape)
raw_tweets_Glenmark_list = raw_tweets_Glenmark[(raw_tweets_Glenmark['date'] > '2021-06-17') & (raw_tweets_Glenmark['date'] <= '2021-08-06')]
print(raw_tweets_Glenmark_list.shape)

(205, 4)
(318, 4)

## Rolex Rings

## OPEN : Jul 28, 2021
## CLOSE :Jul 30, 2021
## Allotment Status : Aug 5, 2021
## Listing Date : Aug 9, 2021

In [ ]:
raw_tweets_Rolex=raw_tweets[raw_tweets['content'].str.contains("Rolex Rings|RolexRings|rolex",case=False)|raw_tweets['hashtags'].str.contains("Rolex Rings|RolexRings|rolex",case=False)]

raw_tweets_Rolex.reset_index()

     index  ...          location
0     1110  ...             India
1     1125  ...             India
2     1128  ...             India
3     8438  ...     Mumbai, India
4     9749  ...             India
..     ...  ...               ...
319  19781  ...     Mumbai, India
320  19783  ...  New Delhi, India
321  19784  ...  Rajasthan, India
322  19786  ...             India
323  19789  ...     Mumbai, India

[324 rows x 5 columns]

In [ ]:
raw_tweets_Rolex_close = raw_tweets_Rolex[(raw_tweets_Rolex['date'] > '2021-06-28') & (raw_tweets_Rolex['date'] <= '2021-07-30')]
print(raw_tweets_Rolex_close.shape)
raw_tweets_Rolex_list = raw_tweets_Rolex[(raw_tweets_Rolex['date'] > '2021-06-28') & (raw_tweets_Rolex['date'] <= '2021-08-09')]
print(raw_tweets_Rolex_list.shape)

(158, 4)
(276, 4)

## Windlas Biotech

## OPEN : Aug 4, 2021
## CLOSE :Aug 6, 2021
## Allotment Status : Aug 11, 2021
## Listing Date : Aug 16, 2021

In [ ]:
raw_tweets_Windlas=raw_tweets[raw_tweets['content'].str.contains("WindlasBiotech|Windlas",case=False)|raw_tweets['hashtags'].str.contains("WindlasBiotech|Windlas",case=False)]

raw_tweets_Windlas.reset_index()

     index  ...          location
0      169  ...       Pune, India
1     1216  ...     Mumbai, India
2     1435  ...     Mumbai, India
3     2191  ...             India
4     2290  ...             India
..     ...  ...               ...
253  15452  ...  Rajasthan, India
254  15640  ...             India
255  15654  ...  Rajasthan, India
256  15693  ...  Rajasthan, India
257  17910  ...  Rajasthan, India

[258 rows x 5 columns]

In [ ]:
raw_tweets_Windlas_close = raw_tweets_Windlas[(raw_tweets_Windlas['date'] > '2021-07-04') & (raw_tweets_Windlas['date'] <= '2021-08-06')]
print(raw_tweets_Windlas_close.shape)
raw_tweets_Windlas_list = raw_tweets_Windlas[(raw_tweets_Windlas['date'] > '2021-07-04') & (raw_tweets_Windlas['date'] <= '2021-08-16')]
print(raw_tweets_Windlas_list.shape)

(154, 4)
(224, 4)

## Krsnaa Diagnostics

## OPEN : Aug 4, 2021
## CLOSE :Aug 6, 2021
## Allotment Status : Aug 12, 2021
## Listing Date : Aug 16, 2021

In [ ]:
raw_tweets_Krsnaa=raw_tweets[raw_tweets['content'].str.contains("Krsnaa",case=False)|raw_tweets['hashtags'].str.contains("Krsnaa",case=False)]

raw_tweets_Krsnaa.reset_index()

     index  ...                  location
0     1216  ...             Mumbai, India
1     1435  ...             Mumbai, India
2     2191  ...                     India
3     2290  ...                     India
4     3488  ...                     India
..     ...  ...                       ...
222  14967  ...                     India
223  15028  ...          Rajasthan, India
224  16951  ...  Salem, Tamil Nadu, India
225  17000  ...                     India
226  17886  ...               Pune, India

[227 rows x 5 columns]

In [ ]:
raw_tweets_Krsnaa_close = raw_tweets_Krsnaa[(raw_tweets_Krsnaa['date'] > '2021-07-04') & (raw_tweets_Krsnaa['date'] <= '2021-08-06')]
print(raw_tweets_Krsnaa_close.shape)
raw_tweets_Krsnaa_list = raw_tweets_Krsnaa[(raw_tweets_Krsnaa['date'] > '2021-07-04') & (raw_tweets_Krsnaa['date'] <= '2021-08-16')]
print(raw_tweets_Krsnaa_list.shape)

(132, 4)
(198, 4)

## Exxaro Tiles

## OPEN : Aug 4, 2021
## CLOSE :Aug 6, 2021
## Allotment Status : Aug 12, 2021
## Listing Date : Aug 16, 2021

In [ ]:
raw_tweets_Exxaro=raw_tweets[raw_tweets['content'].str.contains("Exxaro|Exaro",case=False)|raw_tweets['hashtags'].str.contains("Exxaro|Exaro",case=False)]

raw_tweets_Exxaro.reset_index()

     index  ...               location
0    10182  ...         Chennai, India
1    12181  ...       New Delhi, India
2    12754  ...  Ahmadabad City, India
3    12894  ...          Mumbai, India
4    12897  ...          Mumbai, India
..     ...  ...                    ...
210  18420  ...       Bengaluru, India
211  18423  ...          Mumbai, India
212  18425  ...       Rajasthan, India
213  18443  ...                  India
214  18544  ...                  India

[215 rows x 5 columns]

In [ ]:
raw_tweets_Exxaro_close = raw_tweets_Exxaro[(raw_tweets_Exxaro['date'] > '2021-07-04') & (raw_tweets_Exxaro['date'] <= '2021-08-06')]
print(raw_tweets_Exxaro_close.shape)
raw_tweets_Exxaro_list = raw_tweets_Exxaro[(raw_tweets_Exxaro['date'] > '2021-07-04') & (raw_tweets_Exxaro['date'] <= '2021-08-16')]
print(raw_tweets_Exxaro_list.shape)

(121, 4)
(188, 4)

## CarTrade Tech

## OPEN : Aug 9, 2021
## CLOSE :Aug 11, 2021
## Allotment Status : Aug 16, 2021
## Listing Date : Aug 20, 2021

In [ ]:
raw_tweets_CarTrade=raw_tweets[raw_tweets['content'].str.contains("CarTrade|car trade",case=False)|raw_tweets['hashtags'].str.contains("cartrade|car trade",case=False)]

raw_tweets_CarTrade.reset_index()

     index  ...                location
0       45  ...                   India
1      357  ...                   India
2      393  ...  Bengaluru South, India
3      468  ...                   India
4      563  ...        New Delhi, India
..     ...  ...                     ...
342  15338  ...           Jaipur, India
343  15441  ...           Mumbai, India
344  15488  ...           Mumbai, India
345  15539  ...                   India
346  15625  ...        Bengaluru, India

[347 rows x 5 columns]

In [ ]:
raw_tweets_CarTrade_close = raw_tweets_CarTrade[(raw_tweets_CarTrade['date'] > '2021-07-09') & (raw_tweets_CarTrade['date'] <= '2021-08-11')]
print(raw_tweets_CarTrade_close.shape)
raw_tweets_CarTrade_list = raw_tweets_CarTrade[(raw_tweets_CarTrade['date'] > '2021-07-09') & (raw_tweets_CarTrade['date'] <= '2021-08-20')]
print(raw_tweets_CarTrade_list.shape)

(203, 4)
(278, 4)

## Nuvoco

## OPEN : Aug 9, 2021
## CLOSE :Aug 11, 2021
## Allotment Status : Aug 17, 2021
## Listing Date : Aug 23, 2021

In [ ]:
raw_tweets_Nuvoco=raw_tweets[raw_tweets['content'].str.contains("Nuvoco",case=False)|raw_tweets['hashtags'].str.contains("Nuvoco",case=False)]

raw_tweets_Nuvoco.reset_index()

     index  ...          location
0    11167  ...             India
1    11267  ...  New Delhi, India
2    11503  ...    Gurgaon, India
3    12428  ...     Mumbai, India
4    12464  ...       Delhi India
..     ...  ...               ...
200  15731  ...             India
201  16033  ...     Mumbai, India
202  16253  ...  Rajasthan, India
203  16289  ...    Chennai, India
204  18231  ...             India

[205 rows x 5 columns]

In [ ]:
raw_tweets_Nuvoco_close = raw_tweets_Nuvoco[(raw_tweets_Nuvoco['date'] > '2021-07-09') & (raw_tweets_Nuvoco['date'] <= '2021-08-11')]
print(raw_tweets_Nuvoco_close.shape)
raw_tweets_Nuvoco_list = raw_tweets_Nuvoco[(raw_tweets_Nuvoco['date'] > '2021-07-09') & (raw_tweets_Nuvoco['date'] <= '2021-08-23')]
print(raw_tweets_Nuvoco_list.shape)

(131, 4)
(183, 4)

## Chemplast Sanmar

## OPEN : Aug 10, 2021
## CLOSE :Aug 12, 2021
## Allotment Status : Aug 18, 2021
## Listing Date : Aug 24, 2021

In [ ]:
raw_tweets_chemplast=raw_tweets[raw_tweets['content'].str.contains("Chemplast|sanmar",case=False)|raw_tweets['hashtags'].str.contains("chemplast|sanmar",case=False)]

raw_tweets_chemplast.reset_index()

     index  ...          location
0     9999  ...    Gurgaon, India
1    11267  ...  New Delhi, India
2    11981  ...             India
3    12169  ...     Mumbai, India
4    12246  ...             India
..     ...  ...               ...
182  14158  ...  New Delhi, India
183  14160  ...  New Delhi, India
184  14170  ...  Rajasthan, India
185  14401  ...  New Delhi, India
186  17489  ...             India

[187 rows x 5 columns]

In [ ]:
raw_tweets_chemplast_close = raw_tweets_chemplast[(raw_tweets_chemplast['date'] > '2021-07-09') & (raw_tweets_chemplast['date'] <= '2021-08-12')]
print(raw_tweets_chemplast_close.shape)
raw_tweets_chemplast_list = raw_tweets_chemplast[(raw_tweets_chemplast['date'] > '2021-07-09') & (raw_tweets_chemplast['date'] <= '2021-08-24')]
print(raw_tweets_chemplast_list.shape)

(109, 4)
(159, 4)

## Aptus Value Housing Finance

## OPEN : Aug 10, 2021
## CLOSE :Aug 12, 2021
## Allotment Status : Aug 24, 2021
## Listing Date : Aug 26, 2021

In [ ]:
raw_tweets_aptus=raw_tweets[raw_tweets['content'].str.contains("Aptus",case=False)|raw_tweets['hashtags'].str.contains("Aptus",case=False)]

raw_tweets_aptus.reset_index()

     index  ...               location
0     1077  ...          Mumbai, India
1     2354  ...  Vishakhapatnam, India
2     7147  ...          Mumbai, India
3     7148  ...          Mumbai, India
4    12172  ...           Anjar, India
..     ...  ...                    ...
167  14670  ...       Rajasthan, India
168  14950  ...         northern India
169  14955  ...          Mumbai, India
170  15352  ...         Chennai, India
171  15539  ...                  India

[172 rows x 5 columns]

In [ ]:
raw_tweets_aptus_close = raw_tweets_aptus[(raw_tweets_aptus['date'] > '2021-07-09') & (raw_tweets_aptus['date'] <= '2021-08-12')]
print(raw_tweets_aptus_close.shape)
raw_tweets_aptus_list = raw_tweets_aptus[(raw_tweets_aptus['date'] > '2021-07-09') & (raw_tweets_aptus['date'] <= '2021-08-26')]
print(raw_tweets_aptus_list.shape)

(96, 4)
(164, 4)

## Vijaya Diagnostic

## OPEN : Sep 1, 2021
## CLOSE :Sep 3, 2021
## Allotment Status : Sep 8, 2021
## Listing Date : Sep 14, 2021

In [ ]:
raw_tweets_vijaya=raw_tweets[raw_tweets['content'].str.contains("vijaya",case=False)|raw_tweets['hashtags'].str.contains("vijaya",case=False)]

raw_tweets_vijaya.reset_index()

     index  ...          location
0    11249  ...             India
1    11296  ...             India
2    11385  ...     Mumbai, India
3    11395  ...             India
4    11402  ...     Mumbai, India
..     ...  ...               ...
210  13063  ...  Rajasthan, India
211  14950  ...    northern India
212  18231  ...             India
213  19576  ...  Bengaluru, India
214  19675  ...     Mumbai, India

[215 rows x 5 columns]

In [ ]:
raw_tweets_vijaya_close = raw_tweets_vijaya[(raw_tweets_vijaya['date'] > '2021-08-01') & (raw_tweets_vijaya['date'] <= '2021-09-03')]
print(raw_tweets_vijaya_close.shape)
raw_tweets_vijaya_list = raw_tweets_vijaya[(raw_tweets_vijaya['date'] > '2021-08-01') & (raw_tweets_vijaya['date'] <= '2021-09-14')]
print(raw_tweets_vijaya_list.shape)

(141, 4)
(182, 4)

## Ami Organics

## OPEN : Sep 1, 2021
## CLOSE :Sep 3, 2021
## Allotment Status : Sep 8, 2021
## Listing Date : Sep 14, 2021

In [ ]:
raw_tweets_ami=raw_tweets[raw_tweets['content'].str.contains("ami organics|amiorganics",case=False)|raw_tweets['hashtags'].str.contains("ami organics|amiorganics",case=False)]
# raw_tweets_ami=raw_tweets[raw_tweets['content'].str.contains("ami",case=False)|raw_tweets['hashtags'].str.contains("ami",case=False)]


raw_tweets_ami.reset_index()

     index  ...          location
0     1435  ...     Mumbai, India
1     2184  ...     India/ Norway
2    11249  ...             India
3    11266  ...             India
4    11295  ...      Patna, India
..     ...  ...               ...
230  13063  ...  Rajasthan, India
231  14950  ...    northern India
232  19634  ...             India
233  19674  ...  New Delhi, India
234  19694  ...  Rajasthan, India

[235 rows x 5 columns]

In [ ]:
raw_tweets_ami_close = raw_tweets_ami[(raw_tweets_ami['date'] > '2021-08-01') & (raw_tweets_ami['date'] <= '2021-09-03')]
print(raw_tweets_ami_close.shape)
raw_tweets_ami_list = raw_tweets_ami[(raw_tweets_ami['date'] > '2021-08-01') & (raw_tweets_ami['date'] <= '2021-09-14')]
print(raw_tweets_ami_list.shape)

(140, 4)
(187, 4)

## Sansera Engineering

## OPEN : Sep 14, 2021
## CLOSE :Sep 16, 2021
## Allotment Status : Sep 21, 2021
## Listing Date : Sep 24, 2021

In [ ]:
raw_tweets_sansera=raw_tweets[raw_tweets['content'].str.contains("sansera",case=False)|raw_tweets['hashtags'].str.contains("sansera",case=False)]

raw_tweets_sansera.reset_index()

     index  ...          location
0     9415  ...     Mumbai, India
1    10669  ...     Mumbai, India
2    10672  ...     Mumbai, India
3    10680  ...             India
4    10686  ...     Mumbai, India
..     ...  ...               ...
172  19456  ...     Mumbai, India
173  19470  ...             India
174  19489  ...             India
175  19492  ...  New Delhi, India
176  19495  ...             India

[177 rows x 5 columns]

In [ ]:
raw_tweets_sansera_close = raw_tweets_sansera[(raw_tweets_sansera['date'] > '2021-08-14') & (raw_tweets_sansera['date'] <= '2021-09-16')]
print(raw_tweets_sansera_close.shape)
raw_tweets_sansera_list = raw_tweets_sansera[(raw_tweets_sansera['date'] > '2021-08-14') & (raw_tweets_sansera['date'] <= '2021-09-24')]
print(raw_tweets_sansera_list.shape)

(110, 4)
(156, 4)

## Paras Defence and Space Technologies

## OPEN : Sep 21, 2021
## CLOSE :Sep 23, 2021
## Allotment Status : Sep 29, 2021
## Listing Date : Oct 1, 2021

In [ ]:
raw_tweets_paras=raw_tweets[raw_tweets['content'].str.contains("paras",case=False)|raw_tweets['hashtags'].str.contains("paras",case=False)]

raw_tweets_paras.reset_index()

     index  ...          location
0     1121  ...     Mumbai, India
1     1122  ...     Mumbai, India
2     1421  ...             India
3     1424  ...  Rajasthan, India
4     1425  ...             India
..     ...  ...               ...
401  11464  ...             India
402  11469  ...             India
403  18544  ...             India
404  19178  ...  New Delhi, India
405  19180  ...    Chennai, India

[406 rows x 5 columns]

In [ ]:
raw_tweets_paras_close = raw_tweets_paras[(raw_tweets_paras['date'] > '2021-08-21') & (raw_tweets_paras['date'] <= '2021-09-23')]
print(raw_tweets_paras_close.shape)
raw_tweets_paras_list = raw_tweets_paras[(raw_tweets_paras['date'] > '2021-08-21') & (raw_tweets_paras['date'] <= '2021-10-01')]
print(raw_tweets_paras_list.shape)

(156, 4)
(301, 4)

## Aditya Birla Sun Life AMC

## OPEN : Sep 29, 2021
## CLOSE :Oct 1, 2021
## Allotment Status : Oct 6, 2021
## Listing Date : Oct 11, 2021

In [ ]:
raw_tweets_aditya=raw_tweets[raw_tweets['content'].str.contains("adityabirla|aditya birla",case=False)|raw_tweets['hashtags'].str.contains("adityabirla|aditya birla",case=False)]

raw_tweets_aditya.reset_index()

     index  ...                location
0      313  ...      Navi Mumbai, India
1     2250  ...                   India
2     2290  ...                   India
3     3762  ...                   India
4     6723  ...                   India
..     ...  ...                     ...
255  18443  ...                   India
256  18445  ...  Bengaluru South, India
257  18450  ...                   India
258  19095  ...                   India
259  19420  ...                   India

[260 rows x 5 columns]

In [ ]:
raw_tweets_aditya_close = raw_tweets_aditya[(raw_tweets_aditya['date'] > '2021-08-28') & (raw_tweets_aditya['date'] <= '2021-10-01')]
print(raw_tweets_paras_close.shape)
raw_tweets_aditya_list = raw_tweets_aditya[(raw_tweets_aditya['date'] > '2021-08-28') & (raw_tweets_aditya['date'] <= '2021-10-11')]
print(raw_tweets_aditya_list.shape)

(156, 4)
(224, 4)